name: Build EXE

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: PyInstaller Action
        uses: Martin005/pyinstaller-action@dcfd75f8789130c10c0a34c3dee563e3f6906ea4
        with:
          # 指定您的 Python 腳本名稱
          spec: script.py
          # 設定 PyInstaller 選項：打包成單檔、顯示主控台視窗
          options: --onefile --console
          # 指定上傳的執行檔名稱 (不含 .exe)
          upload_exe_with_name: Koikatsu_Shader_Fixer
